preview {
    display: flex;
    width: 100%;
    .preview-area {
        width: 75%;
        display: flex;
        margin: 10px;
        border: 1px solid $color-foreground;
        &__icon {
            background-image: url('./icons/mono.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 350px;
            height: 240px;
        }
    }
    .controls {
        flex: 1;
        &__button-group {
            margin-top: 10px;
        }
        &__style {
            margin-top: 10px;
            margin-right: 5px;
            padding: 5px;
            border: 1px solid $color-foreground;
        }
    }
}