%box-size {
    width: 150px;
    height: 150px; 
}

.absolute-box {
    @extend %content-centered;
    @extend %box-size;
    background: $color-ok;
    position: absolute;
}

.fixed-box {
    @extend %content-centered;
    @extend %box-size;
    background: $color-danger;
    position: fixed;
}

.draggable-box {
    @extend %content-centered;
    @extend %box-size;
    background: $color-warning;
    position: absolute;
    cursor: -webkit-grab;
    &:hover {
        border: 2px solid red;
    }
}

.relative-box {
    @extend %content-centered;
    @extend %box-size;
    background: $color-warning;
    position: relative;    
}