$dashboard-width: 1200px;
$dashboard-height: 900px;
$dashboard-head-and-footer-height: 50px;
$dashboard-padding: 24px;
$dashboard-border: 1px solid black;
$dashboard-settings-width:  $dashboard-width / 5;
$dashboard-panel-height: ($dashboard-height - ($dashboard-head-and-footer-height * 2)) / 2;
$dashboard-panel-width: (($dashboard-width - $dashboard-width / 8 - $dashboard-settings-width) / 4) - 1;
.dashboard {
    display: flex;
    flex-direction: column;
    height: $dashboard-height;
    width: $dashboard-width;
    &__head-and-footer {
        background-color: $color-main-head-and-footer-background;
        color: $color-main-head-and-footer-foreground;
        height: $dashboard-head-and-footer-height;
        padding: 0 $dashboard-padding;
        @extend %font-style-dashboard-title;
        @extend %content-inline-vertical-centered;
    }
    &__content {
        flex: 1;
        display: flex;
        .content__navigation {
            flex: 1;
            .nav-pills {
                > li {
                    margin-left: 1px;
                    > a {
                        @extend %font-style-title;
                        height: $dashboard-panel-height;
                        padding: 0 $dashboard-padding;
                        text-align: center;
                        border: $dashboard-border;
                        border-radius: 0 1em 1em 0; 
                        box-sizing: border-box;
                        border-top: none;                
                    }
                    + li {
                        margin: 0;
                    }
                    &.active {
                        a, a:hover, a:focus {
                            padding: 0 $dashboard-padding;
                            background-color: $color-background;
                            color: $color-foreground;
                            border-left: none;
                        }
                    }
                }
            }
            .content {
                align-items: initial;
                justify-content: initial;
                .tab-content {
                    display: flex;
                    width: 100%;
                }
                .tab-content > .active {
                    flex: 1;
                    display: flex;
                }
            }
            .panels {
                border-top: $dashboard-border;
                background-color: $color-background;
                color: $color-foreground;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                &__panel-small {
                    width: $dashboard-panel-width;
                    height: $dashboard-panel-height;
                }
                &__panel-large {
                    width: $dashboard-panel-width * 2;
                    height: $dashboard-panel-height;
                }
            }
            .preview-component {
                display: flex;
            }    
        }
        .content_settings {
            width: $dashboard-settings-width;
            background-color: $color-settings-background;
            color: $color-foreground;
        }
   }
}