$dialog-box-border-style : 1px solid $color-foreground;
$dialog-box-width: 640px;
$dialog-box-height: 874px;
$head-and-button-height: 71px;
$dialog_padding: 24px;

%status_layout {
    flex: 1;
    height:1em;
    padding: 10px;    
}

.dialog-box {
    margin-top:10px;
    border: $dialog-box-border-style;
    width: $dialog-box-width;
    height: $dialog-box-height;
    padding: 0 $dialog_padding;
    display: flex;
    flex-direction: column;
    &__header {
        @extend %content-inline-vertical-centered;
        height: $head-and-button-height;
        border-bottom: $dialog-box-border-style;
        .header {
            &__icon {
                background-image: url('./icons/dialog.svg');
                background-size: 36px 36px;
                background-repeat: no-repeat;
                height: 36px;
                width: 36px;
            }        
            &__title {
                @extend %font-style-title;
            }
        }      
    }
    &__content {
        flex: 1;
        display: block;
        .section {
            display: block;
            padding-bottom: $dialog_padding / 2;
            border-bottom: $dialog-box-border-style;
            &__title {
                @extend %font-style-title;
                @extend %content-inline-vertical-centered;
                padding: $dialog-padding 0;    
            }
            &__content {
                display: flex;
                .icon {
                    background-color: $color-background-graphic;
                    height: 156px;
                    width: 156px;
                    margin-right: 24px;    
                }
                .status--ok {
                    @extend %status_layout;
                    background-color: $color-ok;
                }
                .status--warning {
                    @extend %status_layout;
                    background-color: $color-warning;        
                }
                .status--danger {
                    @extend %status_layout;
                    background-color: $color-danger;              
                }
            }            
        }
        .section:last-child {
            padding: 0;
            border: none;
        }
    }
    &__footer {
        border-top: $dialog-box-border-style;
        height: $head-and-button-height;
        @extend %content-inline-right-aligned;
    }
}