$navigation-width: 150px;
$navigation-height: 600px;
.tabs-inline-content {
    height: $navigation-height;
    margin-right: 50px;
    display: flex;
    border: 1px solid $color-foreground;
    .navigation {
        width: auto;
        border-right: 1px solid $color-foreground;
        display: flex;
        flex-direction: column;
        .tab {
            flex: 1;
            @extend %content-centered;
            border-bottom: 1px solid $color-foreground;
            &:last-child {
                border: none;
            }
            .rotated {
                transform: rotate(-90.0deg);
            }
        }
    }
    .content {
        flex: 1;
        @extend %content-centered;
    }
}