<div class="fixed-box" set-position="300 100">Fixed box</div>
<div class="absolute-box" set-position="300 300">Absolute box</div>
<div class="draggable-box" set-position="300 500" draggable>Draggable box</div>
<div class="relative-box" set-position="0 0">Relative box</div>
<div class="container-box" set-position="500 100">
    <div class="float-left-box">Floating left box 1</div>
    <div class="float-left-box">Floating left box 2</div>
</div>
<div class="container-box" set-position="700 100">
    <div class="float-right-box">Floating right box 1</div>
    <div class="float-right-box">Floating right box 2</div>
</div>