<div class="dashboard">
    <div class="dashboard__head-and-footer">Dashboard title</div>
    <div class="dashboard__content">
        <div class="content__navigation">
            <uib-tabset template-url="templates/tabset.html" active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="Panels">
                    <div class="panels">
                        <div class="panels__panel-small panel">
                            <div class="panel-heading">Modal Dialog</div>
                            <div class="panel-body">
                                <button class="button button--state-success" ng-click="dashboardCtrl.showDialog()">Show Dialog</button>
                            </div>
                        </div>
                        <div class="panels__panel-large panel">
                            <div class="panel-heading">Panel 2</div>
                            <div class="panel-body"></div>
                        </div>
                        <div class="panels__panel-small panel">
                            <div class="panel-heading">Accordion</div>
                            <div class="panel-body">
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group heading="{{group.title}}" ng-repeat="group in dashboardCtrl.accordionGroups">
                                        {{group.content}}
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                        <div class="panels__panel-large panel">
                            <div class="panel-heading">Panel 4</div>
                            <div class="panel-body"></div>
                        </div>
                        <div class="panels__panel-small panel">
                            <div class="panel-heading">Drop down</div>
                            <div class="panel-body">
                                <!-- Single button -->
                                <div id="single-button" class="button-group" uib-dropdown is-open="status.isopen">
                                    <button type="button" class="button button--state-success" uib-dropdown-toggle ng-disabled="disabled">
                                        Button dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li role="menuitem">
                                            <a href="#!/dashboard">Action</a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="#!/dashboard">Another action</a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="#!/dashboard">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li role="menuitem">
                                            <a href="#!/dashboard">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panels__panel-small panel">
                            <div class="panel-heading">Panel 6</div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Preview">
                    <preview></preview>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="content_settings"></div>
    </div>
    <div class="dashboard__head-and-footer">(c) Mocosoft Corporation Ltd.</div>
</div>