<div class="dashboard">
    <div class="dashboard__head-and-footer">Dashboard title</div>
    <div class="dashboard__content">
        <div class="navigation"></div>
        <div class="panels">
            <div class="panels__panel-small panel">
                <div class="panel-heading">Panel 1</div>
                <div class="panel-body"></div>
            </div>
            <div class="panels__panel-large panel">
                <div class="panel-heading">Panel 2</div>
                <div class="panel-body"></div>
            </div>
            <div class="panels__panel-small panel">
                <div class="panel-heading">Panel 3</div>
                <div class="panel-body"></div>
            </div>
            <div class="panels__panel-large panel">
                <div class="panel-heading">Panel 4</div>
                <div class="panel-body"></div>
            </div>
            <div class="panels__panel-small panel">
                <div class="panel-heading">Panel 5</div>
                <div class="panel-body"></div>
            </div>
            <div class="panels__panel-small panel">
                <div class="panel-heading">Panel 6</div>
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="settings"></div>
    </div>
    <div class="dashboard__head-and-footer">(c) Mocosoft Corporation Ltd.</div>
</div>