<h1>Vertical Tabs</h1>
<div class="default-and-custom-panel">
    <div class="cell">
        <h2>Default Template</h2>
        <uib-tabset active="activePill" vertical="true" type="pills">
            <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
            <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
        </uib-tabset>        
    </div>
    <div class="cell">
        <h2>Custom Template</h2>
        <uib-tabset template-url="templates/tabset.html" active="activePill" vertical="true" type="pills">
            <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
            <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
        </uib-tabset>
    </div>
</div>
