$color-ok: lightgreen;
$color-ok-gradient: green;
$color-warning: yellow;
$color-danger: red;
$color-foreground: black;
$color-background: white;
$color-foreground-inverted: white;
$color-background-inverted: black;
$color-background-gradient: lightgrey;
$color-background-graphic: darkgrey;