<div class="preview-area" ng-style="previewCtrl.previewStyle">
    <div class="preview-area__icon"></div>
</div>
<div class="controls">
    <div class="button-group controls__button-group">
        <button class="button">Left</button>
        <button class="button">Center</button>
        <button class="button">Right</button>
    </div>
    <div class="button-group controls__button-group">
        <button class="button">Top</button>
        <button class="button">Center</button>
        <button class="button">Bottom</button>
    </div>
</div>